@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+JP&family=Oxygen:wght@300&family=Rubik:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none; }

.hero__main a, .contact__form button {
  font-family: "Oxygen", sans-serif;
  background-color: #e14d2a;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 1rem;
  width: fit-content;
  transition: background-color 250ms; }
  .hero__main a:hover, .contact__form button:hover {
    background-color: #db6f57; }

.shop__foods .shop__cards .shop__card button {
  font-family: "Oxygen", sans-serif;
  margin: 1rem 0rem 1rem;
  background-color: #e1a12a;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  min-height: 3rem;
  padding: 1rem 2rem;
  width: fit-content;
  transition: background-color 250ms; }
  .shop__foods .shop__cards .shop__card button:hover {
    background-color: #e0ab46; }

#secondary--card, #secondary--card h2, #secondary--card p {
  color: white;
  background-color: #cd104d; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%; }
  .header h1 {
    padding: 1rem;
    font-family: "Rubik", sans-serif;
    color: white;
    transition: 250ms;
    cursor: pointer; }
    .header h1:hover {
      transform: scale(105%);
      color: #e0e0e0; }
  .header .nav__menu {
    padding: 1rem;
    display: flex;
    gap: 2rem; }
    .header .nav__menu a {
      color: white;
      font-family: "Noto Sans JP", sans-serif;
      transition: color 250ms; }
      .header .nav__menu a:hover {
        color: #c4c4c4; }

.header--secondary {
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: #e14d2a; }

.hero__main {
  max-height: 100%;
  padding: 0 5rem;
  background: url("https://cdn.discordapp.com/attachments/969879637247291432/1024535467712057434/SS.png") no-repeat fixed center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  color: white; }
  .hero__main h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    width: 40%; }
  .hero__main span {
    color: #db6f57;
    font-size: 3.5rem;
    transition: color 250ms;
    cursor: pointer; }
    .hero__main span:hover {
      color: #ff2f00b2; }
  .hero__main p {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
    width: 35%; }

.welcome {
  padding: 2rem 15rem;
  display: flex; }
  .welcome .welcome__text {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .welcome .welcome__text h2 {
      width: 100%;
      color: #070707;
      font-size: 2.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: lighter; }
    .welcome .welcome__text span {
      font-size: 3rem;
      cursor: pointer;
      color: #fd841f;
      font-family: "Montserrat", sans-serif; }
      .welcome .welcome__text span:hover {
        color: #ff2f00b2; }
    .welcome .welcome__text p {
      width: 95%;
      border-top: 1.5px solid #e1a12a;
      padding-top: 1rem;
      color: #070707;
      font-size: 1rem;
      font-family: "Oxygen", sans-serif;
      font-weight: lighter; }
  .welcome .welcome__img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .welcome .welcome__img img {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: .25rem;
      width: 80%;
      transition: 250ms; }
      .welcome .welcome__img img:hover {
        filter: saturate(1.5) brightness(120%);
        transform: translateY(-10px);
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; }

.services__card {
  display: flex;
  gap: 2rem;
  margin: 5rem 15rem; }
  .services__card .card__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1.5; }
    .services__card .card__text p {
      width: 100%;
      padding-top: 1rem;
      color: #070707;
      font-size: 1rem;
      font-family: "Oxygen", sans-serif; }
    .services__card .card__text span {
      color: #fd841f; }
    .services__card .card__text h2 {
      color: #070707;
      font-size: 2.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: lighter;
      padding-bottom: 0.8rem;
      border-bottom: 1.5px solid #e1a12a; }
  .services__card .card__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; }
    .services__card .card__img img {
      transition: filter 250ms; }
      .services__card .card__img img:hover {
        filter: brightness(120%); }

.shop__banner {
  display: flex;
  flex-direction: column; }
  .shop__banner .shop__bottom {
    display: flex;
    border: 1px solid #e14d2a;
    border-radius: .25rem;
    padding: 1rem;
    margin: 2rem; }
    .shop__banner .shop__bottom .shop__icons {
      flex: 1;
      padding: .5rem;
      justify-content: center;
      align-items: center;
      display: flex;
      gap: 1rem;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: bold; }
    .shop__banner .shop__bottom .icons--border {
      border-left: 1px solid #fd841f; }

.shop__foods {
  margin: 2rem; }
  .shop__foods .shop__titles {
    background-color: #e14d2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem; }
    .shop__foods .shop__titles h2 {
      color: white;
      font-size: 2rem;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: bolder; }
    .shop__foods .shop__titles span {
      color: #fd841f;
      font-size: 2.5rem; }
    .shop__foods .shop__titles p {
      font-size: 1rem;
      color: #fff2e8;
      font-family: "Oxygen", sans-serif;
      font-weight: bolder; }
  .shop__foods .shop__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .shop__foods .shop__cards .shop__card {
      transition: transform 250ms, box-shadow 250ms;
      text-align: center; }
      .shop__foods .shop__cards .shop__card:hover {
        transform: scale(110%); }
      .shop__foods .shop__cards .shop__card img {
        width: 100%;
        transition: filter 250ms; }
        .shop__foods .shop__cards .shop__card img:hover {
          filter: saturate(120%); }
      .shop__foods .shop__cards .shop__card h3 {
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
        color: #e1a12a; }
      .shop__foods .shop__cards .shop__card p {
        color: #202020;
        font-family: "Oxygen", sans-serif;
        font-weight: bold; }

.about__banner {
  padding: 2rem 15rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr; }
  .about__banner .img1 {
    width: 100%;
    margin: auto; }
  .about__banner .banner__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    gap: 2rem; }
    .about__banner .banner__text h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 3rem; }
    .about__banner .banner__text p {
      font-family: "Oxygen", sans-serif;
      font-weight: bold; }

.about__quote {
  background-color: #cd104d;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .about__quote .quote__left {
    flex: 1; }
    .about__quote .quote__left span {
      color: #ffffffb0;
      font-family: "Oxygen", sans-serif;
      display: flex;
      justify-content: center;
      padding: 1rem; }
    .about__quote .quote__left p {
      font-family: "Oxygen", sans-serif;
      color: white;
      font-size: 1.5rem;
      text-align: center; }
    .about__quote .quote__left i {
      color: #e1a12a;
      font-size: 3rem; }
    .about__quote .quote__left .fa-quote-left {
      display: flex;
      justify-content: start;
      padding: 0 2rem; }
    .about__quote .quote__left .fa-quote-right {
      display: flex;
      justify-content: end;
      padding: 0 2rem; }
  .about__quote img {
    border-radius: .25rem;
    flex: 1;
    width: 5%; }

.about__team {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 50%;
  margin: auto;
  grid-template-areas: "img1 img2 img3" "img4 img4 img5"; }
  .about__team img {
    transition: filter 250ms;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(90%); }
    .about__team img:hover {
      filter: grayscale(0%); }
  .about__team .img1 {
    grid-area: img1; }
  .about__team .img2 {
    grid-area: img2; }
  .about__team .img3 {
    grid-area: img3; }
  .about__team .img4 {
    grid-area: img4; }
  .about__team .img5 {
    grid-area: img5; }

.contact__banner {
  padding: 2rem;
  text-align: center; }
  .contact__banner h2 {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    color: #0a0a0a; }
  .contact__banner p {
    font-size: 1.2rem;
    font-family: "Oxygen", sans-serif;
    color: #0a0a0a; }
  .contact__banner span {
    color: #e1a12a; }

.contact__form {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .contact__form button {
    padding: 1rem 2rem;
    margin: 1rem 0; }
  .contact__form input {
    margin-bottom: 1rem; }

.contact__form input,
.contact__form textarea {
  padding: 1rem;
  width: 100%;
  resize: none; }

.contact__networks {
  background-color: #e14d2a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .contact__networks .network__text {
    padding: 2rem;
    border-bottom: 1px solid black; }
    .contact__networks .network__text h3 {
      font-size: 2rem;
      font-family: "Montserrat", sans-serif;
      color: #0a0a0a; }
    .contact__networks .network__text p {
      font-size: 1.4rem;
      font-family: "Oxygen", sans-serif;
      color: white; }
  .contact__networks .network__icons {
    padding: 1rem;
    font-size: 2rem;
    padding-bottom: 2rem; }
    .contact__networks .network__icons i {
      padding: 0 2rem;
      color: white;
      cursor: pointer; }
      .contact__networks .network__icons i:hover {
        color: #202020;
        transition: 250ms; }
      .contact__networks .network__icons i span {
        color: white; }

.footer {
  background-color: #181818;
  padding: 1rem; }
  .footer h3 {
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    color: #fd841f; }
  .footer i {
    color: #fd841f; }
  .footer p {
    color: white;
    font-family: "Oxygen", sans-serif; }
  .footer .footer__bottom {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .footer .footer__bottom > div {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
    .footer .footer__bottom .footer__row {
      display: flex;
      gap: .5rem; }
    .footer .footer__bottom .footer__column1 {
      display: flex;
      justify-content: end; }
    .footer .footer__bottom .footer__column3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2rem; }

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column; }
    .header .nav__menu {
      gap: 0.5rem;
      max-width: 100%; }
  .hero__main {
    padding: 3rem 0;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .hero__main h2 {
      width: 100%; }
    .hero__main p {
      width: 90%;
      padding: 1rem; }
  .welcome {
    padding: 0;
    flex-direction: column; }
    .welcome .welcome__text {
      padding: 1rem 0;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .welcome .welcome__text h2 {
        font-size: 1.2rem; }
    .welcome .welcome__img img {
      padding: 1rem;
      border-radius: 0.25rem;
      width: 90%; }
  .footer h3 {
    text-align: center; }
  .footer .footer__bottom {
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center; }
    .footer .footer__bottom .footer_column3 {
      font-size: 1.5rem; }
  .footer .footer__row {
    justify-content: center;
    align-items: center; }
  /*             services             */
  .services__card {
    padding: 1rem;
    margin: 0;
    flex-direction: column; }
    .services__card .card__text {
      padding: 0;
      text-align: center;
      justify-content: center;
      align-items: center; }
      .services__card .card__text p {
        width: auto; }
      .services__card .card__text img {
        width: 100%; }
  /*         products             */
  .shop__banner .shop__bottom {
    flex-direction: column; }
    .shop__banner .shop__bottom .icons--border {
      border-left: 0px; }
  .shop__foods .shop__cards {
    grid-template-columns: 1fr; }
  /*             about us             */
  .about__banner {
    grid-template-columns: 1fr;
    padding: 1rem; }
    .about__banner .banner__text {
      text-align: center; }
  .about__quote {
    flex-direction: column; }
    .about__quote img {
      padding: 1rem;
      width: 100%; }
  .about__team {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5";
    padding: 0;
    margin: 0; }
    .about__team img {
      width: 100%;
      height: 100%; }
  /*             contact              */
  .contact__form input {
    padding: 1rem;
    width: 80%; }
  .contact__form textarea {
    padding: 1rem;
    width: 80%; } }
